{% load static %}
            <header>
                <section class="logo">
                    <img src="{% static 'home/img/candiesLogo.png' %}" alt="candies.dev">
                </section>
                <section class="navBar">
                    <nav>
                        <ul class="nav">
                            <li><span title="Working on it"><a href="#">Log In</a></span></li>
                        </ul>
                    </nav>
                </section>
            </header>