{% load static %}
            <header>
                <section class="logo">
                    <img src="{% static 'home/img/candiesLogo.jpg' %}" alt="candies.dev">
                </section>
                <section class="navBar">
                    <nav>
                        <ul class="nav">
                            {% if sessionMenuText %}
                            <li><span title="Autenticar" class="navLink"><a href="{{ sessionMenuLink }}">{{ sessionMenuText }}</a></span></li>
                            {% endif %}
                        </ul>
                    </nav>
                </section>
            </header>